<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>MasterDataServlet</servlet-name>
		<servlet-class>de.rrr.crh.backoffice.server.MasterDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterDataServlet</servlet-name>
		<url-pattern>/webapp/masterdata</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>de.rrr.crh.backoffice.server.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/webapp/employee</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadStatus</servlet-name>
		<servlet-class>com.gwtao.fileio.server.FileUploadStatusRPC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadStatus</servlet-name>
		<url-pattern>/webapp/FileUploadStatus</url-pattern>
	</servlet-mapping>
</web-app>
